body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #344353;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.impostos-list {
    margin-top: 10px;
    display: none;
}

.impostos-list li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.impostos-list li:hover {
    background-color: #f0f0f0;
}

.btn-recebido {
    background-color: #28a745;
    color: white;
}

.btn-nao-recebido {
    background-color: #dc3545;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

.box-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #344353;
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    gap: 6px;
    transition: all .2s;
}

.btn-link:hover {
    background-color: #333;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}